* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: iryekanbold;
}

header {
  width: 100%;
  height: 220px;
  overflow: visible;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.14), 0 2px 0 rgba(0, 0, 0, 0.05);
}

header.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

header .img {
  width: 100%;
}

header .img img {
  width: 100%;
  height: 80px;
  display: block;
  object-fit: cover;
}

.all {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 16px 12px 16px 12px;
}

/* searchbar/logo right side */

.logo svg {
  padding: 0px 20px 0px 20px;
  width: 300px;
  height: 60px;
}

form input {
  width: 800px;
  height: 60px;
  background-color: #f0f0f1;
  border: #f0f0f1;
  border-radius: 5px;
}

.placeholder {
  color: #81858b;
}

.searchbox {
  position: relative;
  padding-right: 1px;
}

.searchbox form input {
  font-family: iryekanreg;
  padding-right: 75px;
  padding-bottom: 6px;
}

.searchbox .searchicon {
  position: absolute;
  right: 22px;
  top: 25%;
}

/* login left side */

.login {
  padding-left: 20px;
  display: flex;
  flex: 1 auto;
  gap: 20px;
  justify-content: flex-end;
}

.loginbox {
  width: 180px;
  height: 52px;
  border: 1px solid #e0e0e2;
  border-radius: 10px;
  background-color: white;
}

.khat {
  height: 34px;
  width: 1px;
  margin-top: 9px;
  background-color: #e0e0e2;
}

.all2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 48px;
}

/* nav */
.dk-navbar {
  display: flex;
  background: #fff;
  padding: 10px 30px;
  border-bottom: 1px solid #eee;
}

.dk-navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.dk-navbar ul li {
  position: relative;
}

.dk-navbar a {
  text-decoration: none;
  color: #62666d;
  font-size: 16px;
}

/* menu */
.mega-menu {
  width: 1500px !important;
  height: 800px;
  display: none;
  position: absolute;
  top: 25px;
  right: 0;
  width: 900px;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.mega-parent:hover .mega-menu {
  display: flex;
}

.mega-column {
  width: 25%;
  padding: 0 15px;
}

.mega-column h3 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #ef394e;
}

.mega-column h4 {
  margin: 15px 0 5px;
  font-size: 14px;
  color: #555;
}

.mega-column ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.mega-column ul li {
  margin-bottom: 7px;
}

/* city  */
.city-wrapper {
  position: relative;
}

.city {
  display: flex;
  width: 220px;
  height: 45px;
  border-radius: 9999px;
  color: #f57f17;
  background-color: #f57f1712;
  padding: 9px;
  gap: 8px;
  margin-left: 20px;
  align-items: center;
  cursor: pointer;
}

.city p {
  font-weight: bold;
  margin-top: 15px;
  font-size: 16px;
}

.popup {
  position: absolute;
  top: 100%;
  left:20px;
  border: #23254e;
background-color: #3f4064;
  color: white;
  font-size: 15px;
  padding: 12px 18px;
  border-radius: 16px;
  width: 240px;
  text-align: center;
  margin-top: 12px;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  z-index: 999;
}

.city-wrapper:hover .popup {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  margin-top: 8px;
}


