.middle-main h2 {
  margin-right: 60px;
 
 
  
}
.right-side {
  width: 370px;
  height: 1040px;
 border: 1px solid rgb(180, 178, 178);
 border-radius: 10px;
  margin-right: 60px;
  margin-top: 30px;
  position: sticky;
}
.right-side h3{
  margin-top: 5px;
  color: rgb(87, 86, 86);
}

.brandd {
  display: flex;
  margin-top: 20px;
  font-size: 20px;
  border-bottom: 1px solid ;
      padding-top: 12px;
    padding-bottom: 20px;
    gap:199px ;
    color: rgb(87, 86, 86);
   
}
.svg1{
  margin-right: 90px;
}
.svg3{
  margin-right: 90px;
}
.svg4{
  margin-right: 20px;
}
.svg6{
  margin-right: 30px;
}
.left-side{
  width: 1500px;
  height: 50px;
 
  margin-right: 450px;
  margin-top: -1040px;
}
.first_logo{
  gap: 20px;
  margin-top: 10px;
  color: rgb(102, 102, 102);
}

.bottom-side{
  width: 1500px;
  

  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.cardd{
  flex-direction: column;
  
  border: 1px solid rgb(206, 206, 206);
  width: 375px;
  height: 500px;
  
   
 

}


.cardd img{
  
  width: 250px;
  height: 250px;
  margin-right: 60px;
  transition: 0.3s;

}
.cardd img:hover{
  transform: scale(1.05);
  overflow: hidden;
}
.cardd p{
  font-size: 15px;
 
}

.stars{
  margin-right: 320px;
  gap: 5px;
}
.bottom-side span{
  margin-right: 200px;
}
.bottom-side h5{
 margin-right: 200px;
 font-size: 15px;
 color: rgb(197, 197, 197);
 text-decoration: line-through;
}
