.mySwiper3 {
  margin-top: 50px;
}

.mySwiper3 .swiper-slide {
  border-radius: 50%;
}
.mySwiper3 .swiper-slide img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.mySwiper3 .swiper-slide p {
  text-align: center;
}
.banner {
  width: 1900px;
  height: 470px;
  border: 1px solid rgb(207, 205, 205);
  border-radius: 10px;
  margin: 40px auto;
}
.banner .top-banner {
  width: 500px;
  height: 70px;
  display: flex;
  gap: 10px;
  margin-right: 10px;
}
.banner .top-banner p {
  margin-top: 10px;
  font-size: 25px;
}
.banner .top-banner svg {
  margin-top: 10px;
}
.end-banner {
  display: flex;
}
.mySwiper4 .swiper-wrapper {
  display: flex;
}
.mySwiper4 .swiper-slide {
  flex-direction: column;
}
.mySwiper4 .swiper-slide h6 {
  color: rgb(243, 25, 25);
}
.mySwiper4 .swiper-slide span {
  margin-right: 110px;
  text-decoration: line-through;
  color: rgb(181, 181, 181);
}

.mySwiper4 .swiper-slide img {
  width: 200px;
  height: 200px;
  margin-top: 20px;
}
.moneyand {
  gap: 60px;
  margin-right: 20px;
}
.off {
  width: 32px;
  height: 20px;
  border-radius: 20px;
  border: 1ps solid red;
  background-color: rgb(215, 0, 0);
  color: white;
}
.sihs {
  display: flex;
  width: 1850px;
  height: 160px;
  background-color: rgb(228, 228, 228);
  margin: 60px auto;
  border-radius: 10px;
}
.sih1 {
  gap: 20px;
}
.sih1 img {
  margin-top: 45px;
  margin-right: 10px;
  width: 74px;
  height: 74px;
}
.sih1 svg {
  margin-top: 60px;
}
.sih1 button {
  width: 150px;
  height: 50px;
  border-radius: 50% /100%;
  margin-top: 50px;
  background-color: green;
  border: 1px solid green;
  color: white;
}
.sihs2 {
  width: 600px;
  height: 100px;
  gap: 20px;
  margin-top: 20px;
  margin-right: 450px;
}
.sih2 img {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  position: relative;
  margin-top: 10px;
}
.sih2 p {
  position: absolute;
  width: 45px;
  height: 25px;
  font-size: 20px;
  border: 1px solid red;
  border-radius: 50% /80%;
  background-color: red;
  color: white;
  object-fit: cover;
  margin-top: -10px;
}

.sih3 {
  width: 1850px;
  height: 160px;
  background-color: rgb(228, 228, 228);
  margin: 40px auto;
  border-radius: 10px;
}

.kala100 {
  text-align: center;
  margin-top: 50px;
  margin-right: 10px;
  width: 180px;
  height: 65px;
  border-radius: 30%/100%;
  background-color: white;
}

.dorsaj{
  margin-top: 20px;
}

/* sihs2 */
.sih3 img{
  width: 50px;
  height: 50px;
  margin-top: -20px;
}
.news{
 
  width: 1850px;
  height: 160px;
  background-color: rgb(228, 228, 228);
  margin: 60px auto;
  border-radius: 10px;
}

.news img{
  flex-direction: column;
  width: 300px;
  height: 60px;
  margin-top: 20px;
  margin-right: 50px;
}
.news p{
margin-right: 80px;
}
.eyvays{
  display: flex;
  width: 600px;
  height: 100px;
 
  margin-top: 20px;
  margin-right: 450px;
}
.eyvy img{
  width: 84px;
  height: 84px;
  border-radius: 50%;
  position: relative;
  margin-top: 10px;
}